body{
	font-family: "Roboto", sans-serif;
	color: #fff;
	background-color: #111822;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1080' height='1080' viewBox='0 0 20 20'%3E%3Cg %3E%3Cpolygon fill='%230F161F' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%230F161F' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	scroll-behavior: smooth;
	overflow-x: hidden;
	text-transform: uppercase;
}

div{
	margin: 0!important;
	padding: 0!important;
}

/* NAV */


.navbar{
	background-color: #0b0f16;
	font-size: small;
	z-index: 3;
	font-weight: bold;
	background-image: url("../img/bg/navbar.png");
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
}

.nav-link{
	color: #f1f1f1 !important;
	margin-top: 10px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: .2s;
}

.nav-link:hover{
	color: #bf0f35!important;
}

.nav-link.active {
	font-weight: bolder;
	transform: scale(1.2);
	color: #bf0f35!important;
}

.navbar-toggler { 
	margin: 0 auto;
}

.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
	border-color: transparent;
	margin-right: 10px;
} 


.custom-toggler:focus, .custom-toggler:active, .custom-toggler:hover{
	box-shadow: none!important;
	outline: 0;
}

.logo-nav{
	height: 125px;
}

.logo-sm-nav{
	display: none;
	width: 150px;
}


.nav-item{
	margin-left: 25px;
	margin-right: 25px;
	text-align: center;
}

.nav-brand{
	text-align: center;
}



.logo-nav-small{
	width: 100px;
}

/* TEXT */

h1{
	font-size: 48px;
	font-weight: bold;
	letter-spacing: 10px;
}

.cardx{
	position: relative;
	border-radius: 10px;
	width: 100%!important;
	height: fit-content;
	background-size: cover;
	background-position: center;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
	padding: 25px!important;
	cursor: pointer;
	transition: .5s;
}

.cardx::before {
	content: " ";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, .8);
	background-size: contain;
	border-radius: 10px;
	background-repeat: no-repeat;
	z-index: 0;
	transition: .5s;
}

.card-logo {
	position: relative;
	transition: .5s;
}


.cardx:hover::before{
	background-color: rgba(0, 0, 0, .6);
}

.cardx:hover .logo{
	transform: scale(1.05);
}


.soft{
	background-image: url("../img/banners/softball.jpg");
}

.fut{
	background-image: url("../img/banners/fut.jpg");
}

.basket{
	background-image: url("../img/banners/basket.jpg");
}

.volley{
	background-image: url("../img/banners/volley.jpg");
}

.padel{
	background-image: url("../img/banners/padel.jpg");
}

.tennis{
	background-image: url("../img/banners/tennis.jpg");
}

.run{
	background-image: url("../img/banners/run.jpg");
}

.bowling{
	background-image: url("../img/banners/bowling.jpg");
}

.golf{
	background-image: url("../img/banners/golf.jpg");
}

h2{
	font-size: medium;
	font-weight: bold;
	letter-spacing: 2px;
}

h3{
	font-size: small;
	font-weight: bold;
	letter-spacing: 5px;
	line-height: 2;
}

.caimanation h1{
	margin: 25px;
}

.caimanation p{
	font-size: x-small;
	font-weight: bolder;
	letter-spacing: 5px;
}

hr{
	padding: 0;
	border: 4px solid #bf0f35;
	text-align: center;
	opacity: 1;
	width: 35px;
	margin-bottom: 25px;
}

::selection {
	color: #111822;
	background: #bf0f35;
}



/* SECTIONS */

.home{
	height: 100vh;
	text-align: center;
	background-image: url("../img/banners/banner.jpg");
	background-size: cover;
	background-position: center;
}

.caimanation{
	height: fit-content;
	text-align: center;
}

.footer{
	text-align: center;
}

.footer p{
	font-size: 8px;
	letter-spacing: 2px;
}

.footer h2{
	letter-spacing: 10px;
	color: #bf0f35;
	margin-bottom: 5rem;
}

/* IMG */

img{
	user-select: none;
}

.main-logo{
	height: 80vh;
}

.logo{
	height: 200px;
	transition: .5s;
	margin: 15px!important;
}

.sponsors{
	width: 200px;
	transition: .5s;
}

.sponsors:hover{
	transform: scale(1.05);
}

.sponsors2{
	width: 125px;
	transition: .5s;
}

.sponsors2:hover{
	transform: scale(1.05);
}

.footer-logo{
	height: 100px;
}


/* BUTTONS */

.btn{
	background-color: transparent;
	font-size: small;
	font-weight: bold;
	border: solid;
	border-width: thin;
	border-color: #fff;
	border-radius: 0px;
	color: #fff;
	padding: 10px;
	transition: .2s;
	width: 250px;
	letter-spacing: 10px;
}

.btn:hover{
	background-color: #bf0f35;
	color: #fff;
	border-color: #bf0f35;
}

.btn:focus, .btn:active{
	box-shadow: none!important;
	outline: 0;
}

.up{
	transition: .5s;
}

.up:hover{
	transform: translateY(-5px);
}

.iconx{
	width: 50px;
}

#wappBtn {
	position: fixed;
	bottom: 50px;
	right: 50px;
	z-index: 90;
	outline: none; 
	background-color: #bf0f35; 
	cursor: pointer;
	font-weight: bolder;
	border-color: #fff!important;
	border: solid;
	border-width: 5px;
	transition: 0.5s ease;
	border-radius: 100%;
	padding: 5px!important;
}

#wappBtn:hover {
	transform: scale(1.1);
}

/* SCREEN */

@media only screen and (max-width: 1024px){

	.logo-sm-nav{
		display: inline;
	}

	.logo-nav{
		display: none;
	}

	.hide{
		display: none;
	}

	.main-logo{
		width: 90%;
		height: auto;
	}

	h1{
		font-size: xx-large;
	}

	h2{
		font-size: small;
	}

	p{
		font-size: small;
	}

	.cardx{
		width: 100%;
	}

	.logo{
		width: 50%;
		height: auto;
	}


	.sponsors{
		width: 80%;
	}

	.sponsors2{
		width: 80%;
	}

	.btn{
		font-size: x-small;
	}

	.footer-logo{
		height: 75px;
	}

}


/* SCROLLBAR */

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background: #fff;
}

::-webkit-scrollbar-thumb:hover {
	background: #bf0f35;
}

span{
	color: #bf0f35;
	font-weight: bold;
}